.page {
	height: 100%;
}

.page__body {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}

.page__title {
	text-align: center;
	color: #f48e0b;
}

#big-title {
	text-transform: uppercase;
}
/* p {
	text-decoration: underline;
	color: #00f;
} */

/* * FEEDBACK SECTION */
.feedback {
	color: #000;
}

.feedback ul {
	list-style: none;
}
/* ! .feedback p {
   ! font-size: 20px;
   ! }
   ! */

.feedback-text {
	color: #505050;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}

.text-block {
	/* text-decoration: underline;
	color: #00f; */
	/* font-size: 40px; */
	width: 100px;
	/* display: inline; */

	border: 1px solid #000;
	padding: 40px;
	margin: 40px;
	display: inline-block;
	/* vertical-align: bottom; */
}

/* .text-block-2 {
	height: 250px;
} */

.feedback__link {
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	/* width: 1000px; */
	border: 1px solid #000;
	padding: 40px;
	width: 200px;
	display: block;
	/* margin-left: auto; */
	/* margin-right: auto; */
	margin: 40px auto;

	text-align: center;
}

/* * ABOUT US SECTION */
.cite-block {
	font-style: italic;
}

/* 
* tag - 1
* class - 10
* id - 100
* inline style - 1000
* !important
*/
