body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
  display: inline;
  vertical-align: top;
}

.main-menu {
  display: inline;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.main-menu-item {
  display: inline;
  margin-left: 69px;
}

.main-menu-link {
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 18px;
  line-height: 100%;
  text-decoration: none;
}

.logo {
  margin-right: 154px;
}

.page-header {
  padding-top: 39px;
  padding-bottom: 20px;
}

.page-header-container {
  border-bottom: 3px solid #f1b128;
  padding-bottom: 22px;
}

/* banner */

.banner {
  padding-top: 512px;
  padding-bottom: 146px;
  background-image: url(../img/main_photo.jpeg);
  background-size: cover;
}

.banner-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
}

.banner-text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 22px;
  margin-top: 0;
}

.accent {
  color: #f48e0b;
}

.banner-slogan {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #fff;
  padding: 38px 31px;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.banner-slogan span {
  margin-right: 52px;
}

/* About Us */

.about-us {
  padding-top: 97px;
}

.section-title {
  color: #333;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle {
  color: #4d4943;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 48px;
}

.section-decor-line {
  background-color: #f1ad1d;
  width: 60px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.about-us-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.about-us-wrapper {
  display: flex;
}

.service-dscr {
  width: 50%;
}

.about-us-link {
  position: relative;
}

.about-us-service {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  min-width: 117px;
  background-color: #333333;
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 14px 15px;
}

.team {
  padding-top: 111px;
  padding-bottom: 128px;
}

.team-title {
  margin-bottom: 29px;
}

.team-list {
  padding-left: 0;
  margin-top: 53px;
  list-style-type: none;
  /* display: grid; */
  /* grid-template-columns: repeat(6, 1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.team-item {
  position: relative;
}

.team-item-name {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  line-height: 120%;
  padding: 15px 17px;
  width: 150px;
  position: absolute;
  left: 11px;
  bottom: 14px;
}

.team-img {
  display: block;
  width: 100%;
}

.offers-container {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  gap: 23px;
}

.offers-item {
  border-bottom: #333 solid 6px;
  text-align: center;
  padding-bottom: 41px;
}
.offer-description {
  color: #505050;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

.offer-detail-title {
  color: #505050;
  text-align: center;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 13px;
}

.offer-details {
  list-style-type: none;
  color: #505050;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  padding-left: 0;
  margin-bottom: 0;
}

.offers-decor-line {
  width: 66px;
  height: 6px;
  background-color: #f48e0b;
  border: none;
  margin-top: 24px;
  margin-bottom: 27px;
}

.offers-title {
  margin-bottom: 29px;
}

.offer-name {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  background-color: #333;
  color: #fff;
  padding: 22px 20px 16px 20px;
}

.offer-icon {
  margin-top: 30px;
  margin-bottom: 30px;
}

.news {
  padding-top: 169px;
}
.news-subtitle {
  margin-top: 29px;
  margin-bottom: 49px;
}

.news-list {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 900px;
  flex-wrap: wrap;
  gap: 30px;
}

.news-item {
  width: 370px;
  border-bottom: 6px solid #333;
}

.news-title {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.news-title::before {
  content: "";
  width: 36px;
  height: 31px;
  background-color: #333;
  margin-right: 9px;
}

.mews-inform {
  color: #505050;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 14px;
}

.date-news {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.date-new-decs {
  margin: 0;
  color: #828282;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px; /* 150% */
  text-transform: uppercase;
}

.news-link {
  text-decoration: none;
  color: #828282;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px; /* 150% */
  text-transform: uppercase;
}

.news-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #f48e0b;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px; /* 100% */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 235px;
}

.portfolio {
  padding-top: 107px;
}

.portfolio-filter {
  margin-top: 60px;
  list-style-type: none;
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-bottom: 44px;
}

.portfolio-filter-link {
  color: #111;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  padding: 14px 40px;
  border: 1px solid #333;
}

.portfolio-filter-link-active {
  background-color: #333;
  color: #f1ad1d;
}

.portfolio-gallery {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  list-style-type: none;
}

.portfolio-gallery-item {
  position: relative;
}

.portfolio-item-desc {
  display: none;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  border: 2px solid #333;
  padding: 51px 12px 36px;
}

.portfolio-gallery-item:hover .portfolio-item-desc {
  display: block;
}
