.wrapper {
	padding-left: 0;
	list-style: none;

	margin: 40px;
	padding: 20px;
	border: 4px groove #000;

	width: 60%;
	min-height: 90vh;

	display: grid;
	/* grid-template-columns: 100px 100px 100px; */
	/* grid-template-columns: repeat(3, 100px); */
	/* grid-template-columns: 2fr repeat(3, 1fr); */
	/* grid-template-columns: minmax(100px, auto) repeat(3, 1fr); */
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: 100px 100px; */
	grid-auto-rows: minmax(200px, auto);
	/* grid-auto-columns: repeat(4, 1fr); */

	/* grid-auto-flow: column; */
	/* justify-content: space-between;
	align-content: space-between; */
	gap: 20px 40px;

	align-items: start;
	justify-items: start;

	/* place-items: start center; */

	/* grid-template-areas:
		"item1 item1 item2 item3"
		"item4 item5 item2 ."
		"item6 item7 item8 item8"; */
}

.item-1 {
	/* grid-area: 1 / 2 / 2 /4; */
	/* grid-column: 2 / 4; */
	grid-column: span 1;
	grid-row: 1 / 3;
}
.item-2 {
	order: 1;

	align-self: center;
	justify-self: center;
}
/* .item-3 {
	grid-area: item3;
}
.item-4 {
	grid-area: item4;
}
.item-5 {
	grid-area: item5;
}
.item-6 {
	grid-area: item6;
}
.item-7 {
	grid-area: item7;
}
.item-8 {
	grid-area: item8;
} */

.item {
	font-size: 20px;
	font-weight: 700;

	padding: 20px;
	border: 2px solid #00f;
}
