html {
	font-size: 10px;
}

.text-2 {
	margin-top: 30px;
}

.text {
	/* display: inline-block; */

	width: 61vw;
	margin-left: auto;
	margin-right: auto;

	border: 20px solid #000;

	font-size: 2rem;
	line-height: 2.3;

	padding: 1rem;
	/* 
    * 10px
    * 1em - element font multiplier
    * 1rem - root element font multiplier
    * %
    * Koef
    * vw - viewport width, vh - viewport height
    */
}
