.wrapper {
	padding-left: 0;
	list-style: none;

	margin: 40px;
	padding: 20px;
	border: 4px groove #000;

	min-height: 90vh;

	display: flex;
	/* display: inline-flex; */
	/* flex-direction: column-reverse; */
	flex-wrap: wrap;
	/* justify-content: flex-end; */
	/* align-items: center; */
	/* align-content: space-between; */
	/* ? place-items: center; */
	/* ! justify-items: end; */
	/* column-gap: 30px;
	row-gap: 60px; */

	gap: 60px 30px;
}

.item {
	order: 4;
	font-size: 20px;
	font-weight: 700;
	width: 100px;
	/* min-height: 200px; */
	padding: 40px;
	border: 2px solid #00f;

	/* display: flex;
	justify-content: center;
	align-items: center; */
	flex-grow: 1;
}

.item--third {
	/* flex-grow: 3; */
	/* flex-basis: 400px; */
	flex-shrink: 1;
	order: 2;
	/* align-self: flex-end; */
	background-color: aquamarine;
}
