body {
	/* background-color: #000; */
}

.parent-block :nth-child(3)::after {
	content: "This is one";
}
/* .element:nth-child(3)::after {
	content: "This is one";
} */

.parent-block {
	border: 30px solid rgba(0, 0, 0, 0.3);
	padding: 30px;
	/* background: aquamarine; */

	background-color: aquamarine;
	background-image: url(./img/sun.png),
		radial-gradient(
			199% 141.42% at 100% 100%,
			rgba(36, 194, 175, 0.4) 0%,
			rgba(76, 80, 205, 0.4) 100%
		),
		url(./img/sea-164989_1920.jpg);

	/* background-clip: content-box; */
	background-origin: border-box;
	background-size: 100px, cover, 100% 100%;
	/* background-size: 100px, cover; */
	background-repeat: no-repeat;

	/* background-position-x: 0%;
	background-position-y: 0%; */

	/* background-position: bottom 30px right -30px; */

	background-attachment: scroll;
}

.sun {
	background-image: radial-gradient(
		199% 141.42% at 100% 100%,
		rgba(36, 194, 175, 0.4) 0%,
		rgba(76, 80, 205, 0.4) 100%
	);
}

.macaw {
	stroke: #000;
	stroke-width: 2px;
	stroke-dasharray: 20px;

	/* transition: stroke-dashoffset 3s; */
	animation: strokeAnime 5s infinite alternate-reverse;
}

.nouse {
	fill: #f00;

	transform-origin: 0 center;

	animation: nouseAnima 1s infinite alternate-reverse;
}

@keyframes nouseAnima {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-5deg);
	}
}

@keyframes strokeAnime {
	0% {
		stroke-dashoffset: 2000px;
		transform: translateX(0);
		filter: hue-rotate(0);
	}
	100% {
		stroke-dashoffset: 0;
		transform: translateX(200px);
		filter: hue-rotate(720deg);
	}
}
