.page__title {
	text-align: center;
	position: relative;
}

.page__title::after {
	content: ">";
	color: #f00;
	font-size: 60px;
	font-weight: 700;
}

.page__title::before {
	content: "";
	height: 40px;
	width: 40px;
	border: 4px solid #000;
	position: absolute;
	top: 60px;
}

.list {
	font-size: 30px;
}

/* * Порядку */

.list:nth-of-type(1) {
	border: 1px solid #000;
	margin: 20px;
}
.list__item:first-child {
	text-transform: uppercase;
}
.list__item:last-child {
	text-decoration: underline;
}
.list__item:nth-child(3n) {
	font-weight: 900;
	color: blueviolet;
}
.list__item:nth-child(2) {
	font-size: 4em;
}
.list__item:first-child + .list__item {
	color: #f00;
}

/* * Стану */

.list__item:first-child:hover {
	font-size: 40px;
}
.list__item:first-child:active {
	background-color: aquamarine;
}
.list__item:first-child:focus {
	background-color: coral;
}

.link {
	font-size: 20px;
	text-transform: uppercase;
}
.link:hover,
.link:focus {
	background-color: coral;
}
