.text {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;

	border: 1px solid #000;
}

.text::after {
	content: "";
	border: 2px solid #f00;
}

.text strong {
	/* float: right; */
	/* margin: 20px; */
}

.text::first-letter {
	font-size: 5em;
	float: left;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

body {
	min-height: 500vh;
}

.wrapper {
	margin: 100px 30px 30px;
	padding: 50px;
	border: 1px solid #000;
	position: relative;

	/* overflow: scroll; */
	overflow-y: scroll;
	height: 400px;
}

.item {
	border: 1px solid #000;
	width: 100px;
	height: 100px;
}

.item--static {
	background-color: aliceblue;
	position: static;
	/* left: 50px;
	right: 120px; */
	/* top: ; */
	/* bottom: ; */
}

.item--relative {
	background-color: cornflowerblue;
	position: relative;
	left: 50mm;
	top: 120px;
	/* margin-top: 100px;
	margin-left: 40px; */
}

.item--absolute {
	background-color: indianred;
	position: absolute;
	bottom: 100px;
	right: 50px;
}

.item--fixed {
	background-color: blueviolet;
	position: fixed;
	right: 50px;
	top: 50px;
}

.item--sticky {
	background-color: darkblue;

	position: sticky;
	top: 10px;
}
