.form {
	margin: 20px;
	padding: 10px;
	box-shadow: 4px 4px 10px #000;

	font-family: sans-serif;
}

.form-element {
	/* border-radius: 4px; */
	border: none;
	border-bottom: 2px groove cornflowerblue;
	color: crimson;
}

.form-element:focus {
	background-color: bisque;
	outline: none;
}

.form__label {
	display: block;
	margin-top: 30px;
}

.form-element--file {
	display: none;
}
.form__label--file {
	padding: 8px 20px;
	border-radius: 6px;
	border: 1px solid #000;
	background-color: aqua;
	width: max-content;
	cursor: pointer;
}

.form__group {
	margin-top: 20px;
	margin-bottom: 30px;
}

.form-element--checkbox {
	accent-color: crimson;
}

[type="checkbox"] {
	display: none;
}

[type="checkbox"]:checked + span {
	background-color: lightgreen;
}
[type="radio"] {
	display: none;
}

[type="radio"]:checked + span {
	background-color: darkorange;
}

textarea {
	display: block;
	resize: none;

	width: 300px;
	height: 200px;
}
